[submodule "cricket"]
	path = cricket
	url = https://github.com/aratik1997/cricket.git
[submodule "kolshi"]
	path = kolshi
	url = https://github.com/aratik1997/callshow.git
[submodule "gofish"]
	path = gofish
	url = https://github.com/aratik1997/gofish.git
